<form class="container mt-4">

  <div>
    <h2 style="text-align: center;">Manage ScoreCourse</h2>
    {{#if deletedCount}}
      <a href="/scoreCourses/trash">Bin ({{deletedCount}}) </a>
    {{/if}}

    <div class="mt-4 d-flex align-items-center">
      <a href="/scoreCourses/create" class="btn btn-primary">Create new scoreCourse</a>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr style="font-size:15px;">
        <th scope="col">No</th>
        <th scope="col">Course</th>
        <th scope="col">Student</th>
        <th scope="col">Term</th>
        <th scope="col">Test 1</th>
        <th scope="col">Test 2</th>
        <th scope="col">Test 3</th>
        <th scope="col">Average</th>
        <th scope="col">Status</th>

        <th scope="col" colspan="2">Created time</th>
      </tr>
    </thead>
    <tbody>
      {{#each scoreCourses}}
        <tr style="font-size:13px;">
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.course.courseName}}</td>
          <td>{{this.student.studentName}}</td>
          <td>{{this.term.termName}}</td>
          <td>{{this.test1}}</td>
          <td>{{this.test2}}</td>
          <td>{{this.test3}}</td>
          <td>{{this.averageScoreCoure}}</td>
          <td>{{this.statusScoreCourse}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href="/scoreCourses/{{this._id}}/edit"
              class="btn btn-primary"
            >Update</a>
            <a
              href=""
              class="btn btn-primary"
              data-toggle="modal"
              data-id={{this._id}}
              data-target="#delete-scoreCourse-modal"
            >Delete</a>
            <a
              href="/scoreCourses/show/{{this._id}}"
              class="btn btn-primary"
            >Detail</a>
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan="4" class="text-center">
            You Don't create any scoreCourse !
            <a href="/scoreCourses/create">Create new scoreCourse</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<div id="delete-scoreCourse-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this scoreCourse </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Did you sure to delete this scoreCourse?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Cancel</button>
        <button
          id="btn-delete-scoreCourse"
          type="button"
          class="btn btn-danger"
        >Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-scoreCourse-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var scoreCourseId
        var deleteForm = document.forms['delete-scoreCourse-form']
        var btnDeleteScoreCourse = document.getElementById('btn-delete-scoreCourse')
        var checkboxAll = $('#checkbox-all')
        var scoreCourseItemCheckbox = $('input[name = "scoreCourseIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')

        $('#delete-scoreCourse-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            scoreCourseId = button.data('id') 
        })
       
        btnDeleteScoreCourse.onclick = function (){
        deleteForm.action = '/scoreCourses/' + scoreCourseId + '?_method=DELETE'
        deleteForm.submit()
    }

   
    
    //when checkbox all change
    checkboxAll.change(function (){
        var isCheckedAll = $(this).prop('checked')       
        scoreCourseItemCheckbox.prop('checked', isCheckedAll)   
        renderCheckAllSubmitBtn()
    })
    

    //scoreCourse item checkbox changed
    scoreCourseItemCheckbox.change(function(){
      var numCheck = scoreCourseItemCheckbox.length === $('input[name = "scoreCourseIds[]"]:checked').length
      checkboxAll.prop('checked', numCheck)
      renderCheckAllSubmitBtn()
    })
    //check all submit button clicked
    checkAllSubmitBtn.click(function(e){
      e.preventDefault()

      var isSubmittable = $(this).hasClass('disable')
      console.log(isSubmittable)
    })

    // re-render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name = "scoreCourseIds[]"]:checked').length
      if(checkedCount > 0){
        checkAllSubmitBtn.removeClass('disabled')
      }else{
        checkAllSubmitBtn.addClass('disabled')
      }
    }
})

</script>