<div class="mt-4">
    <div class="row">
         <div class="col-lg-9">
                <h2>{{bonus.bonusName}}</h2>
                <h2>{{bonus.bonusName}}</h2>
                <h2>{{bonus.className}}</h2>
                <h2>{{bonus.bonusDescription}}</h2>
                <p>{{bonus.studentName}}</p>
        </div>
       
    </div>
</div>