<div class="container mt-4">

  <div>
    <h3>My List test deleted</h3>
    <a href="/mistakes/manage">back</a>
  </div>
    
        <table class="table mt-4">
            <thead>
                <tr style="font-size:15px;">
                <th scope="col">No</th>
                <th scope="col">Mistake</th>
                <th scope="col">Student</th>
                <th scope="col">Term</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">Created time</th>
                </tr>
            </thead>
            <tbody>
                {{#each mistakes}}
                <tr style="font-size:13px;">
                    {{!-- <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name = "mistakeIds[]" value="{{this._id}}">
                      </div>
                    </td> --}}
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.mistakeName}}</td>
                    <td>{{this.student.studentName}}</td>
                    <td>{{this.term.termName}}</td>
                    <td>{{this.mistakeDescription}}</td>
                    <td>{{this.createdAt}}</td>
                                        <td>
                        <a href="" class= "btn btn-link btn-restore" data-id = {{ this._id }} >Restore</a>
                        <a href="" class= "btn btn-link" data-toggle="modal" data-id = {{ this._id }} data-target="#delete-mistake-modal">Rermanently deleted</a>
                    </td>
                </tr>

                {{else}}
                  <tr>
                    <td colspan="4" class = "text-center">
                      Empty Trash! 
                      <a href="/mistakes/manage">List Bonuses</a>
                    </td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
</div>

<div id = "delete-mistake-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this test </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>this action cannot be undone, do you still want to delete this test?</p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
        <button id = "btn-delete-mistake" type="button" class="btn btn-danger" >Force Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-mistake-form" method="POST"></form>
<form name="restore-mistake-form" method="POST"></form>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        var mistakeId
        var deleteForm = document.forms['delete-mistake-form']
        var restoreForm = document.forms['restore-mistake-form']
        var btnDeleteMistake = document.getElementById('btn-delete-mistake')
        var restoreBtn = $('.btn-restore')

        //when dialog confirm clicked
        $('#delete-mistake-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            mistakeId = button.data('id') 
        })
        
        btnDeleteMistake.onclick = function (){

        deleteForm.action = '/mistakes/' + mistakeId + '/force?_method=DELETE'
        deleteForm.submit()        
    }
    
    // restore btn click
        restoreBtn.click(function (e) {
          e.preventDefault()

          var mistakeId = $(this).data('id')
          restoreForm.action = '/mistakes/' + mistakeId + '/restore?_method=PATCH'
          restoreForm.submit()   
        })

})

</script>