<div class=" container mt-4 mb-4 col-lg-6">
    <h3>Update course</h3>
    <form class= "container mt-4" style="font-size:15px;" method="POST" action= "/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="courseName">Course Name</label>
            <input type="text" class="form-control" value="{{course.courseName}}" id="courseName" name="courseName">
        </div>

        <div class="form-group">
            <label for="courseType">Course Type</label>
            <input type="text" class="form-control" value="{{course.courseType}}" id="courseType" name="courseType">
        </div>
        <div class="form-group">
            <label for="courseLevel">Course level</label>
                <select class="form-control" value="{{course.courseLevel}}"id="courseLevel" name="courseLevel">
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>0</option>
                </select>
            {{!-- <input type="text" class="form-control" id="courseLevel" name="courseLevel"> --}}
        </div>
        <div class="form-group">
            <label for="courseSlot">Number of slot</label>
            <input type="text" class="form-control" value="{{course.courseSlot}}" id="courseSlot" name="courseSlot">
        </div>
        <div class="form-group">
        <div class="form-group">
            <label for="courseTime"> Learning time</label>
            <input type="text" class="form-control" value="{{course.courseTime}}"id="courseTime" name="courseTime">
        </div>
            <label for="courseDescription">Course Description</label>
            <textarea class="form-control"  id="courseDescription" name="courseDescription"> {{course.courseDescription}}</textarea>
        </div>
        <div class="form-group">
            <label for="courseVideoId">Link Video</label>
            <input type="text" class="form-control" value="{{course.courseVideoId}}" id="courseVideoId" name="courseVideoId">
        </div>



        <button type="submit" class="btn btn-primary">Save Course</button>
</form>
</div>