<div class="container t-4 mb-4 col-lg-6">
  <h3>Create clat</h3>
  <form class="mt-4" method="POST" action="/clats/store">
    <div class="form-group">
      <label for="name">Class Name</label>
      <input type="text" class="form-control" id="clatName" name="clatName"  required />
    </div>

    <div class="form-group">
      <label for="clatType">Type</label>
      <select class="form-control" id="clatType" name="clatType" required >
        <option>talent class</option>
        <option>normal class </option>
      </select>
    </div>
    <div class="form-group">
      <label for="termName">Term</label>
      <select class="form-control" id="term" name="term">
        {{#each terms}}
          <option value="{{this._id}}">{{this.termName}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="teacherName">Teacher manage</label>
      <select class="form-control" id="teacher" name="teacher">
        {{#each teachers}}
          <option value="{{this._id}}">{{this.teacherName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="studentName">Students</label>
      <select class="form-control selectpiker" id="student" name="student"  multiple data-live-search="true">
        {{#each students}}
          <option value="{{this._id}}">{{this.studentName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="courseName">Add Courses</label>
      <select class="form-control selectpiker" id="course" name="course"  multiple data-live-search="true">
        {{#each courses}}
          <option value="{{this._id}}">{{this.courseName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="maxStudent">Max Student</label>
      <input
        type="number" class="form-control" id="maxStudent" name="maxStudent" min="1" max="50" required
      />
    </div>

    <div class="form-group">
      <label for="clatScheduleImage">Schedule Image</label>
      <input
        type="text" class="form-control" id="clatScheduleImage" name="clatScheduleImage" required value="https://img.freepik.com/free-vector/hand-drawn-back-school-timetable-template_23-2149025276.jpg?w=2000"
      />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>


  
</div>
<script>
  document.getElementById('submit').onclick = function() {
    var checked = document.querySelectorAll('#pets :checked');
    var selected = [...checked].map(option => option.value);
}

</script>
