<form class="container mt-4">

  <div>
    <h3>List Clats</h3>
    {{#if deletedCount }}
    <a href="/clats/trash">Bin ({{deletedCount}}) </a>
    {{/if}}

    <div class="mt-4 d-flex align-items-center" >

      <a href="/clats/create" class= "btn btn-primary">Create new class</a> 
  </div>
    
        <table class="table mt-4" >
            <thead style="font-size:15px;">
                <tr>
                <th scope="col">No</th>
                <th scope="col">Class</th>
                <th scope="col">Type</th>
                <th scope="col">Teacher manage</th>
                <th scope="col">Term</th>
                <th scope="col" colspan="2">Max Student</th>
                </tr>
            </thead>
            <tbody>
                {{#each clats}}
                <tr style="font-size:13px;">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.clatName}}</td>
                    <td>{{this.clatType}}</td>
                    <td>{{this.teacher.teacherName}}</td>
                    <td>{{this.term.termName}}</td>
                    <td>{{this.maxStudent}}</td>
                    <td>
                        <a href="/clats/{{this._id}}/edit" class= "btn btn-primary" style="pading: 10px;">Update</a>
                        <a href="" class= "btn btn-primary" data-toggle="modal" data-id = {{ this._id }} data-target="#delete-clat-modal">Delete</a>
                        <a href="/clats/show/{{this._id}}" class= "btn btn-primary">Detail</a>
                    </td>
                </tr>

                {{else}}
                  <tr>
                    <td colspan="4" class = "text-center">
                     Do not have any class here! 
                      <a href="/clats/create">Create new class</a>
                    </td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
</form>



<div id = "delete-clat-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this clat </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Did you sure to delete this clat?</p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
        <button id = "btn-delete-clat" type="button" class="btn btn-danger" >Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-clat-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var clatId
        var deleteForm = document.forms['delete-clat-form']
        var btnDeleteClat = document.getElementById('btn-delete-clat')
        var checkboxAll = $('#checkbox-all')
        var clatItemCheckbox = $('input[name = "clatIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')

        $('#delete-clat-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            clatId = button.data('id') 
        })
       
        btnDeleteClat.onclick = function (){
        deleteForm.action = '/clats/' + clatId + '?_method=DELETE'
        deleteForm.submit()
    }

   
    
    //when checkbox all change
    checkboxAll.change(function (){
        var isCheckedAll = $(this).prop('checked')       
        clatItemCheckbox.prop('checked', isCheckedAll)   
        renderCheckAllSubmitBtn()
    })
    

    //clat item checkbox changed
    clatItemCheckbox.change(function(){
      var numCheck = clatItemCheckbox.length === $('input[name = "clatIds[]"]:checked').length
      checkboxAll.prop('checked', numCheck)
      renderCheckAllSubmitBtn()
    })
    //check all submit button clicked
    checkAllSubmitBtn.click(function(e){
      e.preventDefault()

      var isSubmittable = $(this).hasClass('disable')
      console.log(isSubmittable)
    })

    // re-render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name = "clatIds[]"]:checked').length
      if(checkedCount > 0){
        checkAllSubmitBtn.removeClass('disabled')
      }else{
        checkAllSubmitBtn.addClass('disabled')
      }
    }
})

</script>