<form class="container mt-4">

  <div>
    <h2 style="text-align: center;">Manage Test</h2>
    {{#if deletedCount }}
    <a href="/testxs/trash">Bin ({{deletedCount}}) </a>
    {{/if}}

    <div class="mt-4 d-flex align-items-center" style="border: px black;">
  
      {{!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Select all
          </label>
        
      </div> --}}

        {{!-- <select class="form-control form-control-sm checkbox-select-all-options" id="">
          <option>---seclect action---</option>
          <option value="delete">Delete</option>
        </select> --}}
        
        {{!-- <button type="submit" class="btn btn-primary btn-sm check-all-submit-btn disabled">Doing</button> --}}
        <a href="/testxs/create" class= "btn btn-primary">Create new test</a> 
      </div>
  </div>
    
        <table class="table mt-4">
            <thead>
                <tr>
                <th scope="col">No</th>
                <th scope="col">Test name</th>
                <th scope="col">Level</th>
                <th scope="col">Time</th>
                <th scope="col" colspan="2">Created time</th>
                </tr>
            </thead>
            <tbody>
                {{#each testxs}}
                <tr>
                    {{!-- <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name = "testxIds[]" value="{{this._id}}">
                      </div>
                    </td> --}}
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.testxName}}</td>
                    <td>{{this.testxLevel}}</td>
                    <td>{{this.testxTime}} minutes</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                    
                      
                        <a href="/testxs/{{this._id}}/edit" class= "btn btn-primary">Update</a>
                        <a href="" class= "btn btn-primary" data-toggle="modal" data-id = {{ this._id }} data-target="#delete-testx-modal">Delete</a>
                    </td>
                </tr>

                {{else}}
                  <tr>
                    <td colspan="4" class = "text-center">
                      You Don't create any testx ! 
                      <a href="/testxs/create">Create new testx</a>
                    </td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
</form>



<div id = "delete-testx-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this test </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Did you sure to delete this test?</p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
        <button id = "btn-delete-testx" type="button" class="btn btn-danger" >Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-testx-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var testxId
        var deleteForm = document.forms['delete-testx-form']
        var btnDeletetestx = document.getElementById('btn-delete-testx')
        var checkboxAll = $('#checkbox-all')
        var testxItemCheckbox = $('input[name = "testxIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')

        $('#delete-testx-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            testxId = button.data('id') 
        })
       
        btnDeletetestx.onclick = function (){
        deleteForm.action = '/testxs/' + testxId + '?_method=DELETE'
        deleteForm.submit()
    }

   
    
    //when checkbox all change
    checkboxAll.change(function (){
        var isCheckedAll = $(this).prop('checked')       
        testxItemCheckbox.prop('checked', isCheckedAll)   
        renderCheckAllSubmitBtn()
    })
    

    //testx item checkbox changed
    testxItemCheckbox.change(function(){
      var numCheck = testxItemCheckbox.length === $('input[name = "testxIds[]"]:checked').length
      checkboxAll.prop('checked', numCheck)
      renderCheckAllSubmitBtn()
    })
    //check all submit button clicked
    checkAllSubmitBtn.click(function(e){
      e.preventDefault()

      var isSubmittable = $(this).hasClass('disable')
      console.log(isSubmittable)
    })

    // re-render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name = "testxIds[]"]:checked').length
      if(checkedCount > 0){
        checkAllSubmitBtn.removeClass('disabled')
      }else{
        checkAllSubmitBtn.addClass('disabled')
      }
    }


})

</script>