<div class="container mt-4">

  <div style="font-size:15px;">
    <h3>My List test deleted</h3>
    <a href="/testxs/manage">back</a>
  </div>
    
        <table class="table mt-4">
            <thead>
                <tr style="font-size:15px;">
                <th scope="col">#</th>
                <th scope="col">Test name</th>
                <th scope="col">Level</th>
                <th scope="col" colspan="2">Time Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each testxs}}
                <tr style="font-size:13px;">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.testxName}}</td>
                    <td>{{this.testxLevel}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class= "btn btn-link btn-restore" data-id = {{ this._id }} >Restore</a>
                        <a href="" class= "btn btn-link" data-toggle="modal" data-id = {{ this._id }} data-target="#delete-testx-modal">Rermanently deleted</a>
                    </td>
                </tr>

                {{else}}
                  <tr>
                    <td colspan="4" class = "text-center">
                      Empty Trash! 
                      <a href="/testxs/manage">List test</a>
                    </td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
</div>



<div id = "delete-testx-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this test </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>this action cannot be undone, do you still want to delete this test?</p>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
        <button id = "btn-delete-testx" type="button" class="btn btn-danger" >Force Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-testx-form" method="POST"></form>
<form name="restore-testx-form" method="POST"></form>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        var testxId
        var deleteForm = document.forms['delete-testx-form']
        var restoreForm = document.forms['restore-testx-form']
        var btnDeleteTestx = document.getElementById('btn-delete-testx')
        var restoreBtn = $('.btn-restore')

        //when dialog confirm clicked
        $('#delete-testx-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            testxId = button.data('id') 
        })
        
        btnDeleteTestx.onclick = function (){

        deleteForm.action = '/testxs/' + testxId + '/force?_method=DELETE'
        deleteForm.submit()        
    }
    
    // restore btn click
        restoreBtn.click(function (e) {
          e.preventDefault()

          var testxId = $(this).data('id')
          restoreForm.action = '/testxs/' + testxId + '/restore?_method=PATCH'
          restoreForm.submit()   
        })

})

</script>