<div class=" container t-4 mb-4 col-lg-6">
    <h3>Update term</h3>
    <form class  = "mt-4" style="font-size:15px;" method="POST" action= "/terms/{{term._id}}?_method=PUT">
        <div class="form-group">
            <label for="termName">Term Name</label>
            <input type="text" class="form-control"value="{{term.termName}}" id="termName" name="termName">

        </div>
        <div class="form-group">
            <label for="yearName">year</label>
            <input type="text" class="form-control"value="{{term.yearName}}" id="yearName" name="yearName">
        </div>

        <div class="row">
            <div class="col-sm-6"> 
       <div class="form-group">
            <label for="termDateStart">Start</label>
            <input type="text" class="form-control" value="{{term.termDateStart}}"id="termDateStart" name="termDateStart">
        </div>
            </div>
            <div class="col-sm-6"> 
       <div class="form-group">
            <label for="termDateFinish">End</label>
            <input type="text" class="form-control" value="{{term.termDateFinish}}"id="termDateFinish" name="termDateFinish">
        </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>

<!-- jquery JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap js -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Propeller textfield js --> 
<script type="text/javascript" src="dist/js/propeller.min.js"></script>

<!-- Datepicker moment with locales -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>

<!-- Propeller Bootstrap datetimepicker -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script>

<script>
	// Linked date and time picker 
	// start date date and time picker 
	$('#datepicker-start').datetimepicker();

	// End date date and time picker 
	$('#datepicker-end').datetimepicker({
		useCurrent: false 
	});
	
	// start date picke on chagne event [select minimun date for end date datepicker]
	$("#datepicker-start").on("dp.change", function (e) {
		$('#datepicker-end').data("DateTimePicker").minDate(e.date);
	});
	// Start date picke on chagne event [select maxmimum date for start date datepicker]
	$("#datepicker-end").on("dp.change", function (e) {
		$('#datepicker-start').data("DateTimePicker").maxDate(e.date);
	});