<div class=" container t-4 mb-4 col-lg-6">
    <h3>Update test type</h3>
    <form class  = "mt-4" method="POST" action= "/testxs/{{testx._id}}?_method=PUT">
        {{!-- <div class="form-group">
            <label for="className">Class Name</label>
                <select class="form-control" value="{{bonus.clatName}}"  id="className" name="className">
                        {{#each clats}}
                        <option>{{this.clatName}}</option>
                        {{/each}}
                </select>
        </div> --}}
        <div class="form-group">
            <label for="studentName">Student Name</label>
                <select class="form-control"   id="student" name="student">
                        {{#each students}}
                        <option value="{{this._id}}">{{this.studentName}}</option>
                        {{/each}}
                </select>
        </div>
        <div class="form-group">
            <label for="termName">Term</label>
                <select class="form-control"   id="term" name="term">
                        {{#each terms}}
                        <option value="{{this._id}}">{{this.termName}}</option>
                        {{/each}}
                </select>
        </div>
        <div class="form-group">
            <label for="bonusName">Bonus Name</label>
            <input type="text" class="form-control"  value="{{bonus.bonusName}}" id="bonusName" name="bonusName">
        </div>
        <div class="form-group">
            <label for="bonusDescription">bonus Description</label>
            <input type="text" class="form-control"  value="{{bonus.bonusDescription}}" id="bonusDescription" name="bonusDescription">
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>